* {
  margin: 0;
  padding: 0;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  width: 500px;
  height: 500px;
  background:rgb(220, 220, 221);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  padding: 25px;
  padding-left: 55px;

}



.login-header {
  text-align: center;
}

.message {
  text-align: center;
}

.custom-input::placeholder {
  color: rgb(130, 128, 128); 
}
.custom-input{
  color: blue;
}
.input-row {
  display: flex;
}

.input-row input {
  flex: 1;
  margin-right: 10px; /* Optional: Adjust margin between inputs */
}

